.quizes {
  width: 100%;
  min-height: 100vh;
  background-color: #ccf1f0;
  padding: 1rem;
}

.quiz-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.quiz-box h3 {
  font-family: "Poppins", sans-serif;
}

.quiz-container ul {
  list-style-type: none;
  padding: 0;
}

.quiz-container li {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

.quiz-container label {
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

.quiz-box {
  background-color: #a8cecd;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.quiz-container input[type="radio"] {
  width: 2rem;
  margin-right: 10px;
}

.quiz-container .btn {
  margin-bottom: 2rem;
}

.quiz-container .cancel {
  background-color: #fff !important;
  color: black;
}

.correct-answer {
  background-color: #83e199;
}

.incorrect-answer {
  background-color: #d4313e;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.close-modal-btn {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-modal-btn:hover {
  background-color: #0056b3;
}
.quizBtns .btn {
  background-color: var(--primary-color);
  text-align: center;
}

@media (max-width: 768px) {
  .quiz-container {
    width: 90%;
  }

  .quiz-container li {
    width: 100%;
  }

  .quiz-box {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .quiz-container {
    width: 95%;
    padding: 0;
  }

  .quiz-box h3 {
    font-size: 1.5rem;
  }

  .quiz-container label {
    font-size: 1rem;
  }

  .quiz-container input[type="radio"] {
    width: 1.5rem;
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
  }
  .quizBtns .btn {
    background-color: var(--primary-color);
    width: 22%;
    text-align: center;
  }
}
