.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login img {
  width: 30px;
  height: auto;
  display: block;
  position: absolute;
  top: 5rem;
  left: 90%;
  transform: translateX(-50%);
  cursor: pointer;
}

.login .modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 35%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
}

.modal h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

.modal input {
  width: 90%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}

.modal button:hover {
  background-color: #0056b3;
}

.newAcc {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
}

.newAcc:hover {
  color: #0056b3;
}



@media (max-width: 1200px) {
  .login .modal {
    width: 50%; 
  }
}

@media (max-width: 768px) {
  .login img {
    top: 3rem;
    left: 95%; 
  }

  .login .modal {
    width: 70%; 
    padding: 15px;
  }

  .modal h2 {
    font-size: 2rem; 
  }

  .modal button {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .login img {
    top: 2rem;
    left: 90%; 
  }

  .login .modal {
    width: 90%; 
    padding: 10px;
  }

  .modal h2 {
    font-size: 1.8rem; 
  }

  .modal input {
    width: 100%; 
  }

  .modal button {
    font-size: 1rem; 
  }

  .newAcc {
    font-size: 0.8rem; 
  }
}
